
<div class="card m-b-md">
    <div class="card-body">

    <div class="page-header">
        <h1>Mailer</h1>
        <fa-icon icon="book"></fa-icon>
    </div>

    <button type="button" (click)="openModal(template)" class="btn btn-primary btn-lg">Post Message</button>

    <ng-template #template>

       <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Title</p>
          <textarea class="form-control" id="title" maxlength="25" 
          name="title" [(ngModel)]="titleModel">
        </textarea>

        <span class="warning-title" style="color:red" *ngIf="titleModel?.length > 24">
            Please limit title to 25 charchters.
        </span>

        <p>Message</p>
          <textarea class="form-control" id="message" maxlength="200" rows="10" 
          autofocus="autofocus" name="title" [(ngModel)]="mainMessage">
          </textarea>
        
        <span class="messagewarning" style="color:red" *ngIf="mainMessage?.length > 199">
            Please limit message to 200 charchters.
        </span>
       
      </div>

      <div class="modal-footer">
          <button class="btn btn-outline btn-default" type="button" (click)="cancel()">
            <span *ngIf="!isEnabled">Close</span>
          </button>

          <div *ngIf="mainMessage?.length > 0 && titleModel?.length > 0">
            <button class="btn btn-outline btn-success" type="button" 
            (click)="send()">Send</button>
          </div>

          <div *ngIf="mainMessage?.length == 0 || titleModel?.length == 0">
              <button class="btn btn-outline btn-success disabled" type="button" 
              >Send</button>
            </div>

          <button class="btn btn-outline btn-danger" type="button" 
          (click)="ok()" *ngIf="isEnabled && alternateOkButton" 
          [disabled]="commentModel.invalid">{{okButtonText}}
          </button>
        </div>

      </ng-template>

      <app-message-dialog *ngIf="newmessage" [Title]="Title" [Body]="returnData"></app-message-dialog>

  </div>
</div>
