


<div class="card m-b-md">
    <div class="card-body">
        <div class="page-header">
            <h1>Team</h1>
            <fa-icon icon="users"></fa-icon>
        </div>

        <div class="overflow-x-scroll">
          <table class="table table-striped table-sm">
              <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Connection</th>
              </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-team [ngForOf]="TeamData">
                  <tr class="small m-b-none">
                    <td>
                        <a class="team-id" *ngIf="personData.id !== team.id" (click)="getMember(team.id)">
                          {{team.id}}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <a class="team-id" *ngIf="personData.id === team.id" (click)="closeMember()">
                            {{team.id}}
                              <i class="fa fa-chevron-down"></i>
                        </a>
                    </td>
                    <td  class="team-name">
                      <app-user [user]="team.name"></app-user>
                      <!-- {{team.name | dashify}} -->
                    </td>
                    <td>
                      <dl>
                        <dd  class="team-address">{{team.address.street | dashify}} | {{team.address.city | dashify}}</dd>
                      </dl>
                    </td>
                    <td>
                        <dl>
                          <dd  class="team-phone"><b>Phone:</b> {{team.phone}} </dd>
                          <dd  class="team-email"><b>Email:</b><a href="mailto:{{team.email}}" data-rel="external" > {{team.email}} </a></dd>
                        </dl>
                    </td>
                  </tr>
                  <tr *ngIf="personData && personData.id === team.id" class="bg-light">
                      <td colspan="6" class="bg-body text-white"> 
                          <app-card [persondata]="team"></app-card> <!-- Child Component -->
                      </td>
                  </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
    </div>
</div>
